@model AppModel.Models.Producer

@{
    ViewData["Title"] = "Create Producer";
}

<h2>Create Producer</h2>

<form asp-action="Create" method="post" class="mt-4">
    <div class="form-group">
        <label asp-for="Name" class="control-label">Name</label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Address" class="control-label">Address</label>
        <input asp-for="Address" class="form-control"/>
        <span asp-validation-for="Address" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="YearFounded" class="control-label">YearFounded</label>
        <input asp-for="YearFounded" class="form-control" type="number" />
        <span asp-validation-for="YearFounded" class="text-danger"></span>
    </div>

    <div class="form-group mt-1 mb-2">
        <button type="submit" class="btn btn-primary">Create</button>
    </div>
</form>

<div>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");

    }
}