@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 mb-5">Welcome</h1>
    <p>
        PROJEKT ZALICZENIOWY
    </p >
    <p class="display-6 ">
        PROGRAMOWANIE W ŚRODOWISKU ASP.NET
    </p>
    <h4 class="">Kamil Nowakowski 14150</h4>
    <h6 class="">GitHub: <a href="https://github.com/KamilNnowakowski01">/KamilNnowakowski01</a></h6>
</div>
