@model AppModel.Models.Graphics

@{
    ViewData["Title"] = "Edit Graphics";
}

<h2>Edit Graphics</h2>

<form asp-action="Edit" method="post" class="mt-4">
    <div class="form-group">
        <label asp-for="GraphicsId" class="control-label">Id</label>
        <input asp-for="GraphicsId" class="form-control" disabled />
        <input asp-for="GraphicsId" type="hidden" value="@Model.GraphicsId" />
    </div>

    <div class="form-group">
        <label asp-for="Name" class="control-label">Name</label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="MemoryGB" class="control-label">MemoryGB</label>
        <input asp-for="MemoryGB" class="form-control" type="number" />
        <span asp-validation-for="MemoryGB" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="ConnectorType" class="control-label">ConnectorType</label>
        <input asp-for="ConnectorType" class="form-control" />
        <span asp-validation-for="ConnectorType" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="CoreClockMHz" class="control-label">CoreClockMHz</label>
        <input asp-for="CoreClockMHz" class="form-control" type="number" />
        <span asp-validation-for="CoreClockMHz" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="RecommendedPower" class="control-label">RecommendedPower</label>
        <input asp-for="RecommendedPower" class="form-control" type="number" />
        <span asp-validation-for="RecommendedPower" class="text-danger"></span>
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Edit</button>
    </div>
</form>

<div>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");

    }
}